<div class="site__body">
    <app-breadcrumb [pageTitle]="'Ads'"></app-breadcrumb>
    <div class="container">
        <div class="shop-layout shop-layout--sidebar--start">
            <div class="shop-layout__sidebar">
                <div class="block block-sidebar">
                    <div class="block-sidebar__item">
                        <div class="widget-filters widget">
                            <h4 class="widget__title">Filters</h4>

                            <div class="widget-filters__list">
                                <div class="widget-filters__item">
                                    <div class="filter pointer" [ngClass]="{'filter--opened ': isFilterCollapse.isCategory}">
                                        <button type="button" class="filter__title"
                                            (click)="filterCollapse('category')">Categories
                                            <svg class="filter__arrow" width="12px" height="7px">
                                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-down-12x7">
                                                </use>
                                            </svg>
                                        </button>
                                        <div class="filter__body">
                                            <div class="filter__container">
                                                <div class="filter-categories">
                                                    <ul class="widget-categories__list">
                                                        <ng-container
                                                            *ngFor="let category of categoryArray; let i = index">
                                                            <li class="widget-categories__item"
                                                                [ngClass]="{'widget-categories__item--open': category.isCollapse}">
                                                                <div class="widget-categories__row">
                                                                    <a (click)="onCategoryChange(category.categoryId,'category')" [ngClass]="{'collapse-select': category.categoryId == filterPayload.categoryId}">
                                                                        <svg *ngIf="category.subcategory.length !== 0"
                                                                            class="widget-categories__arrow" width="6px"
                                                                            height="9px">
                                                                            <use
                                                                                xlink:href="assets/images/sprite.svg#arrow-rounded-right-6x9">
                                                                            </use>
                                                                        </svg> {{category.categoryName}} </a>
                                                                    <ng-container
                                                                        *ngIf="category.subcategory.length !== 0">
                                                                        <button class="widget-categories__expander"
                                                                            type="button"
                                                                            (click)="categoryCollapse(i)"></button>
                                                                    </ng-container>
                                                                </div>
                                                                <div class="widget-categories__subs"
                                                                    *ngIf="category.subcategory.length !== 0">
                                                                    <ul>
                                                                        <li *ngFor="let child of category.subcategory" (click)="onCategoryChange(child.subCategoryId,'',category.categoryId)">
                                                                            <a [ngClass]="{'collapse-select': child.subCategoryId == filterPayload.subCategoryId}">{{child.subCategoryName}}</a></li>
                                                                    </ul>
                                                                </div>
                                                            </li>
                                                        </ng-container>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-filters__item">
                                    <div class="filter" [ngClass]="{'filter--opened ': isFilterCollapse.isPrice}">
                                        <button type="button" class="filter__title"
                                            (click)="filterCollapse('price')">Price
                                            <svg class="filter__arrow" width="12px" height="7px">
                                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-down-12x7">
                                                </use>
                                            </svg>
                                        </button>
                                        <div class="filter__body">
                                            <div class="filter__container">
                                                <div class="form-row">
                                                    <div class="form-group col-md-6">
                                                        <input name="min" type="text" digitOnly [(ngModel)]="filterPayload.min" (change)="onRangeChange($event,'min')" class="form-control"
                                                            placeholder="Min" (keydown.space)="$event.preventDefault()">
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <input name="max"  [(ngModel)]="filterPayload.max" (change)="onRangeChange($event,'max')"  type="text" digitOnly  class="form-control"
                                                            placeholder="Max" (keydown.space)="$event.preventDefault()">
                                                            <!-- [disabled]="filterPayload.min == '' ? true : null" -->
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <button class="btn btn-primary btn-sm" (click)="onRangeChange()" [ngClass]="{'btn-loading': isRequestFilter}"
                                                        [disabled]="isRequestFilter == true ? true : null">Apply</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-filters__item">
                                    <div class="filter" [ngClass]="{'filter--opened': isFilterCollapse.isType}">
                                        <button type="button" class="filter__title"
                                            (click)="filterCollapse('type')">Type
                                            <svg class="filter__arrow" width="12px" height="7px">
                                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-down-12x7">
                                                </use>
                                            </svg>
                                        </button>
                                        <div class="filter__body">
                                            <div class="filter__container">
                                                <div class="filter-list">
                                                    <div class="filter-list__list">
                                                        <ng-container *ngFor="let type of typeArray; let i = index">
                                                            <label class="filter-list__item" [for]="i"
                                                                [ngClass]="{'filter-list__item--disabled': !type.availabe}">
                                                                <span class="filter-list__input input-radio">
                                                                    <span class="input-radio__body" #selectedRadio>
                                                                        <input class="input-radio__input" [id]="i"
                                                                            type="radio" [value]="type.name"
                                                                            name="type"
                                                                            (change)="onCheckboxChange($event)"
                                                                            [disabled]="type.availabe == false ? true : null">
                                                                        <span class="input-radio__circle"></span>
                                                                    </span>
                                                                </span>

                                                                <!-- <span class="filter-list__input input-check">
                                                                    <span class="input-check__body">
                                                                        <input class="input-check__input" [id]="i"
                                                                            type="radio" [value]="type.name"
                                                                            name=""
                                                                            (change)="onCheckboxChange($event)"
                                                                            [disabled]="type.availabe == false ? true : null">
                                                                        <span class="input-check__box"></span>
                                                                        <svg class="input-check__icon" width="9px"
                                                                            height="7px">
                                                                            <use
                                                                                xlink:href="assets/images/sprite.svg#check-9x7">
                                                                            </use>
                                                                        </svg>
                                                                    </span>
                                                                </span> -->
                                                                <span class="filter-list__title">{{type.name}} </span>
                                                                <span class="filter-list__counter"></span>
                                                            </label>
                                                        </ng-container>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-filters__item">
                                    <div class="filter" [ngClass]="{'filter--opened ': isFilterCollapse.isCountry}">
                                        <button type="button" class="filter__title"
                                            (click)="filterCollapse('country')">Country
                                            <svg class="filter__arrow" width="12px" height="7px">
                                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-down-12x7">
                                                </use>
                                            </svg>
                                        </button>
                                        <div class="filter__body">
                                            <div class="filter__container">
                                                <div class="form-row">
                                                    <select class="form-control pointer" [(ngModel)]="filterPayload.countryId"
                                                             (change)="onCountyChange($event)">
                                                            <option [value]="0" disabled>Select a country</option>
                                                            <option *ngFor="let country of countryArray"
                                                                [value]="country.countryId">{{country.countryName}}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-filters__item">
                                    <div class="filter" [ngClass]="{'filter--opened ': isFilterCollapse.isState}">
                                        <button type="button" class="filter__title"
                                            (click)="filterCollapse('state')">State
                                            <svg class="filter__arrow" width="12px" height="7px">
                                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-down-12x7">
                                                </use>
                                            </svg>
                                        </button>
                                        <div class="filter__body">
                                            <div class="filter__container">
                                                <div class="form-row">
                                                    <select class="form-control pointer" [(ngModel)]="filterPayload.stateId"
                                                             (change)="onStateChange($event)">
                                                            <option [value]="0" disabled>Select a State</option>
                                                            <option *ngFor="let state of stateArray"
                                                            [value]="state.stateId">{{state.stateName}}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-filters__item">
                                    <div class="filter" [ngClass]="{'filter--opened ': isFilterCollapse.isCity}">
                                        <button type="button" class="filter__title"
                                            (click)="filterCollapse('city')">City
                                            <svg class="filter__arrow" width="12px" height="7px">
                                                <use xlink:href="assets/images/sprite.svg#arrow-rounded-down-12x7">
                                                </use>
                                            </svg>
                                        </button>
                                        <div class="filter__body">
                                            <div class="filter__container">
                                                <div class="form-row">
                                                    <select class="form-control pointer" [(ngModel)]="filterPayload.cityId"
                                                             (change)="onCityChange($event)">
                                                            <option [value]="0" disabled>Select a City</option>
                                                            <option *ngFor="let city of cityArray"
                                                            [value]="city.cityId">{{city.cityName}}</option>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-filters__actions d-flex">
                                <!-- <button class="btn btn-primary btn-sm" (click)="applyFiler()"
                                    [ngClass]="{'btn-loading': isRequestFilter}"
                                    [disabled]="isRequestFilter == true ? true : null"
                                    [disabled]="isRequestReset == true ? true : null">Filter</button> -->
                                <button class="btn btn-primary btn-sm"
                                    [ngClass]="{'btn-loading': isRequestFilter}"
                                    [disabled]="isRequestFilter == true ? true : null"
                                    (click)="reset()"
                                >Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shop-layout__content">
                <div class="block">
                    <div class="products-view">
                        <div class="products-view__options">
                            <div class="view-options">
                                <!-- <div class="view-options__legend">Showing {{adsListArray.length}} of 98 products</div> -->
                                <div class="view-options__divider"></div>
                                <div class="view-options__control"><label for="">Sort By</label>
                                    <div><select class="form-control form-control-sm" name="" id="">
                                            <option value="">Default</option>
                                            <option value="">Name (A-Z)</option>
                                        </select></div>
                                </div>
                                <!-- <div class="view-options__control"><label for="">Show</label>
                                    <div><select class="form-control form-control-sm" name="" id="">
                                            <option value="">12</option>
                                            <option value="">24</option>
                                        </select></div>
                                </div> -->
                            </div>
                        </div>
                        <div class="products-view__list products-list" data-layout="grid-3-sidebar"
                            data-with-features="false">
                            <div class="products-list__body">
                                <div class="products-list__item" *ngFor="let item of adsListArray; let i = index">
                                    <app-product [index]="i+1" [item]="item"></app-product>
                                </div>
                            </div>
                        </div>
                        <div class="products-view__pagination">
                            <!-- <div class="widget-filters__actions d-flex">
                                <button class="btn btn-primary btn-sm" (click)="applyFiler()" [ngClass]="{'btn-loading': isRequestFilter}" [disabled]="isRequestFilter == true ? true : null" [disabled]="isRequestReset == true ? true : null">Filter</button>
                                <button class="btn btn-secondary btn-sm ml-2" [ngClass]="{'btn-loading': isRequestReset}" [disabled]="isRequestFilter == true ? true : null" [disabled]="isRequestReset == true ? true : null">Reset</button>
                            </div>  -->
                            <ul class="pagination justify-content-center">
                                <button class="btn btn-primary btn-sm" [ngClass]="{'btn-loading': isRequestLoadMore}"
                                    [disabled]="isRequestLoadMore == true ? true : null" (click)="loadMore()">Load
                                    More</button>
                            </ul>
                            <!-- <app-pagination [page]="filterPayload.page" [totalPages]="filterPayload.totalPages"
                                (onPageChange)="onPageChange($event)">
                            </app-pagination> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>