<div class="site__body">
    <app-breadcrumb [pageTitle]="'Hotel Managers'" [numberOfPath]="1"></app-breadcrumb>
    <div class="block">
        <div class="container">
            <div class="product product--layout--columnar" data-layout="columnar">
                <div class="product__content">
                    <!-- .product__gallery -->

                    <div class="product__gallery">
                        <div class="product-gallery">
                            <div class="product-gallery__featured">
                                <div class="owl-carousel owl-loaded owl-drag" id="product-image">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage"
                                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1880px;">
                                            <div class="owl-item" style="width: 376px;">
                                                <a><img [src]="selectedImage" alt="" style="height: 250px;"> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product-gallery__carousel">
                                <div class="owl-carousel owl-loaded owl-drag">
                                    <div class="owl-stage-outer">
                                        <div class="owl-stage"
                                            style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 488px;">
                                            <ng-container *ngFor="let img of productDetailImage; let i = index">
                                                <div class="owl-item active pointer" style="width: 87.5px; margin-right: 10px;" (click)="onImageSelect(img.picture,i)">
                                                    <a class="product-gallery__carousel-item" [ngClass]="{'product-gallery__carousel-item--active': img.coverImage}">
                                                        <img class="product-gallery__carousel-image" [src]="img.picture" alt="" style="height: 48px;"> </a>
                                                    </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- .product__gallery / end -->
                    <!-- .product__info -->
                    <div class="product__info">
                        <div class="product__wishlist-compare">
                            <button type="button" class="btn btn-sm btn-light btn-svg-icon" data-toggle="tooltip"
                                data-placement="right" title="Wishlist"><svg width="16px" height="16px">
                                    <use xlink:href="assets/images/sprite.svg#wishlist-16"></use>
                                </svg></button>
                            <!-- <button type="button" class="btn btn-sm btn-light btn-svg-icon"
                                data-toggle="tooltip" data-placement="right" title="Compare"><svg width="16px"
                                    height="16px">
                                    <use xlink:href="assets/images/sprite.svg#compare-16"></use>
                                </svg></button> -->
                        </div>
                        <h1 class="product__name">{{adsDetails.title}}</h1>
                        <!-- <div class="product__rating">
                            <div class="product__rating-stars">
                                <div class="rating">
                                    <div class="rating__body"><svg class="rating__star rating__star--coverImage"
                                            width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--coverImage">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--coverImage" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--coverImage">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--coverImage" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--coverImage">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--coverImage" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--coverImage">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div><svg class="rating__star rating__star--coverImage" width="13px" height="12px">
                                            <g class="rating__fill">
                                                <use xlink:href="assets/images/sprite.svg#star-normal"></use>
                                            </g>
                                            <g class="rating__stroke">
                                                <use xlink:href="assets/images/sprite.svg#star-normal-stroke"></use>
                                            </g>
                                        </svg>
                                        <div class="rating__star rating__star--only-edge rating__star--coverImage">
                                            <div class="rating__fill">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                            <div class="rating__stroke">
                                                <div class="fake-svg-icon"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="product__rating-legend"><a >7 Reviews</a><span>/</span><a >Write
                                    A Review</a></div>
                        </div> -->
                        <div class="product__description">Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. Curabitur ornare, mi in ornare elementum, libero nibh lacinia urna, quis
                            convallis lorem erat at purus. Maecenas eu varius nisi.</div>
                        <ul class="product__features">
                            <li>Price: ${{adsDetails.price}}.00</li>
                            <li>Country: {{adsDetails.country}}</li>
                            <li>City: {{adsDetails.city}}</li>
                            <li>Contact Number: {{adsDetails.contact}}</li>
                            <li>Address: {{adsDetails.addressLine1}}</li>
                        </ul>
                        <!-- <ul class="product__meta">
                            <li class="product__meta-availability">Availability: <span class="text-success">In
                                    Stock</span></li>
                            <li>Brand: <a>Wakita</a></li>
                            <li>SKU: 83690/32</li>
                        </ul> -->
                    </div><!-- .product__info / end -->
                    <!-- .product__sidebar -->
                    <!-- .product__end -->
                    <!-- <div class="product__footer">
                        <div class="product__tags tags">
                            <div class="tags__list"><a >Mounts</a> <a >Electrodes</a> <a
                                    >Chainsaws</a></div>
                        </div>
                        <div class="product__share-links share-links">
                            <ul class="share-links__list">
                                <li class="share-links__item share-links__item--type--like"><a >Like</a>
                                </li>
                                <li class="share-links__item share-links__item--type--tweet"><a >Tweet</a></li>
                                <li class="share-links__item share-links__item--type--pin"><a >Pin
                                        It</a></li>
                                <li class="share-links__item share-links__item--type--counter"><a >4K</a></li>
                            </ul>
                        </div>
                    </div> -->
                </div>
            </div>
            <div class="product-tabs">
                <div class="product-tabs__list pointer">
                    <a class="product-tabs__item" [ngClass]="{'product-tabs__item--active': productTab.description}"
                        (click)="onTabChange('desc')">Description</a>
                    <a class="product-tabs__item" [ngClass]="{'product-tabs__item--active': productTab.specification}"
                        (click)="onTabChange('speci')">Specification</a>
                </div>
                <div class="product-tabs__content">
                    <div class="product-tabs__pane" [ngClass]="{'product-tabs__pane--active': productTab.description}">
                        <div class="typography" [innerHtml]="adsDetails.description">
                            <!-- <h3>Product Full Description</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum, diam
                                non iaculis finibus, ipsum arcu sollicitudin dolor, ut cursus sapien sem sed
                                purus. Donec vitae fringilla tortor, sed fermentum nunc. Suspendisse sodales
                                turpis dolor, at rutrum dolor tristique id. Quisque pellentesque ullamcorper
                                felis, eget gravida mi elementum a. Maecenas consectetur volutpat ante, sit amet
                                molestie urna luctus in. Nulla eget dolor semper urna malesuada dictum. Duis
                                eleifend pellentesque dui et finibus. Pellentesque dapibus dignissim augue.
                                Etiam odio est, sodales ac aliquam id, iaculis eget lacus. Aenean porta, ante
                                vitae suscipit pulvinar, purus dui interdum tellus, sed dapibus mi mauris vitae
                                tellus.</p>
                            <h3>Etiam lacus lacus mollis in mattis</h3>
                            <p>Praesent mattis eget augue ac elementum. Maecenas vel ante ut enim mollis
                                accumsan. Vestibulum vel eros at mi suscipit feugiat. Sed tortor purus,
                                vulputate et eros a, rhoncus laoreet orci. Proin sapien neque, commodo at porta
                                in, vehicula eu elit. Vestibulum ante ipsum primis in faucibus orci luctus et
                                ultrices posuere cubilia Curae; Curabitur porta vulputate augue, at sollicitudin
                                nisl molestie eget.</p>
                            <p>Nunc sollicitudin, nunc id accumsan semper, libero nunc aliquet nulla, nec
                                pretium ipsum risus ac neque. Morbi eu facilisis purus. Quisque mi tortor,
                                cursus in nulla ut, laoreet commodo quam. Pellentesque et ornare sapien. In ac
                                est tempus urna tincidunt finibus. Integer erat ipsum, tristique ac lobortis sit
                                amet, dapibus sit amet purus. Nam sed lorem nisi. Vestibulum ultrices tincidunt
                                turpis, sit amet fringilla odio scelerisque non.</p> -->
                        </div>
                    </div>
                    <div class="product-tabs__pane"
                        [ngClass]="{'product-tabs__pane--active': productTab.specification}">
                        <div class="spec">
                            <h3 class="spec__header">Specification</h3>
                            <div class="spec__section">
                                <h4 class="spec__section-title">General</h4>
                                <div class="spec__row">
                                    <div class="spec__name">Type</div>
                                    <div class="spec__value">{{adsDetails.type}}</div>
                                </div>
                                <div class="spec__row">
                                    <div class="spec__name">First Address</div>
                                    <div class="spec__value">{{adsDetails.addressLine1}}</div>
                                </div>
                                <div class="spec__row">
                                    <div class="spec__name">Third Address</div>
                                    <div class="spec__value">{{adsDetails.addressLine2}}</div>
                                </div>
                                <div class="spec__row">
                                    <div class="spec__name">Second Address</div>
                                    <div class="spec__value">{{adsDetails.addressLine3}}</div>
                                </div>
                                <div class="spec__row">
                                    <div class="spec__name">Tags</div>
                                    <div class="spec__value">{{getCommaTag()}}</div>
                                </div>
                            </div>
                           
                            <!-- <div class="spec__disclaimer">Information on technical characteristics, the delivery
                                set, the country of manufacture and the appearance of the goods is for reference
                                only and is based on the latest information available at the time of
                                publication.</div> -->
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- .block-products-carousel -->
    </div>
    <div class="block block-products-carousel" data-layout="grid-5">
        <div class="container">
            <div class="block-header">
                <h3 class="block-header__title">Related Products</h3>
                <div class="block-header__divider"></div>
                <div class="block-header__arrows-list">
                    <!-- <button class="block-header__arrow block-header__arrow--left"
                    type="button"><svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
                    </svg></button> <button class="block-header__arrow block-header__arrow--right"
                    type="button"><svg width="7px" height="11px">
                        <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
                    </svg></button> -->
                </div>
            </div>
            <div class="block-products-carousel__slider">
                <div class="block-products-carousel__preloader"></div>
                <div class="owl-carousel owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage"
                            style="transform: translate3d(-1792px, 0px, 0px);transition: all 0s ease 0s;width: 7170px;padding-left: 1px;padding-right: 1px;">

                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px;margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>

                            <div class="owl-item active" *ngFor="let item of [].constructor(5); let i = index"
                                style="width: 212px; margin-right: 12px;">
                                <div class="block-products-carousel__column">
                                    <div class="block-products-carousel__cell">
                                        <app-product [index]="i+1"></app-product>
                                    </div>
                                </div>
                            </div>




                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"></div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"> </div>
                            <div class="owl-item" style="width: 212px; margin-right: 12px;"> </div>
                        </div>
                    </div>
                    <div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span
                                aria-label="Previous">‹</span></button><button type="button" role="presentation"
                            class="owl-next"><span aria-label="Next">›</span></button></div>
                    <div class="owl-dots disabled"></div>
                </div>
            </div>
        </div>
    </div>