
    <div id="quickview-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-xl">
          <div class="modal-content"></div>
      </div>
  </div>

  <div class="site">
       <app-header></app-header>
       <router-outlet></router-outlet>

     <app-footer></app-footer>
  </div>
  <!-- <p-toast position="bottom-right"></p-toast> -->
  <div class="alert alert-danger error-alert toaster" role="alert" [ngClass]="{'show-toaster': commonService.errorObj.error, 'hide-toaster': !commonService.errorObj.error}">
    {{commonService.errorObj.message}}
  </div>
  <div class="alert alert-success error-alert toaster" role="alert" [ngClass]="{'show-toaster': commonService.successObj.success, 'hide-toaster': !commonService.successObj.success}">
    {{commonService.successObj.message}}
  </div>
  <div class="alert alert-warning error-alert toaster" role="alert" [ngClass]="{'show-toaster': commonService.warningObj.warning, 'hide-toaster': !commonService.warningObj.warning}">
    {{commonService.warningObj.message}}
  </div>

