<div class="site__body">
    <app-breadcrumb [pageTitle]="'Create Prodcut'"></app-breadcrumb>
    <div class="checkout block">
        <div class="container">
            <div class="row">
                <div class="col-12 mb-3">
                    <div class="alert alert-lg alert-primary">Returning customer? <a>Click here to login</a>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="card mb-lg-0">
                        <div class="card-body">
                            <h3 class="card-title">Prodcut Details</h3>
                            <div class="form-row">
                                <div class="form-group col-md-6"><label for="checkout-first-name">First Name</label>
                                    <input type="text" class="form-control" id="checkout-first-name"
                                        placeholder="First Name"></div>
                                <div class="form-group col-md-6"><label for="checkout-last-name">Last Name</label>
                                    <input type="text" class="form-control" id="checkout-last-name"
                                        placeholder="Last Name"></div>
                            </div>
                            <div class="form-group"><label for="checkout-company-name">Company Name <span
                                        class="text-muted">(Optional)</span></label> <input type="text"
                                    class="form-control" id="checkout-company-name" placeholder="Company Name"></div>
                            <div class="form-group"><label for="checkout-country">Country</label> <select
                                    id="checkout-country" class="form-control">
                                    <option>Select a country...</option>
                                    <option>United States</option>
                                    <option>Russia</option>
                                    <option>Italy</option>
                                    <option>France</option>
                                    <option>Ukraine</option>
                                    <option>Germany</option>
                                    <option>Australia</option>
                                </select></div>
                            <div class="form-group"><label for="checkout-street-address">Street Address</label> <input
                                    type="text" class="form-control" id="checkout-street-address"
                                    placeholder="Street Address"></div>
                            <div class="form-group"><label for="checkout-address">Apartment, suite, unit etc. <span
                                        class="text-muted">(Optional)</span></label> <input type="text"
                                    class="form-control" id="checkout-address"></div>
                            <div class="form-group"><label for="checkout-city">Town / City</label> <input type="text"
                                    class="form-control" id="checkout-city"></div>
                            <div class="form-group"><label for="checkout-state">State / County</label> <input
                                    type="text" class="form-control" id="checkout-state"></div>
                            <div class="form-group"><label for="checkout-postcode">Postcode / ZIP</label> <input
                                    type="text" class="form-control" id="checkout-postcode"></div>
                            <div class="form-row">
                                <div class="form-group col-md-6"><label for="checkout-email">Email address</label>
                                    <input type="email" class="form-control" id="checkout-email"
                                        placeholder="Email address"></div>
                                <div class="form-group col-md-6"><label for="checkout-phone">Phone</label> <input
                                        type="text" class="form-control" id="checkout-phone" placeholder="Phone"></div>
                            </div>
                            <div class="form-group">
                                <div class="form-check"><span class="form-check-input input-check"><span
                                            class="input-check__body"><input class="input-check__input" type="checkbox"
                                                id="checkout-create-account"> <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px">
                                                <use xlink:href="images/sprite.svg#check-9x7"></use>
                                            </svg> </span></span><label class="form-check-label"
                                        for="checkout-create-account">Create an account?</label></div>
                            </div>
                        </div>
                        <div class="card-divider"></div>
                        <div class="card-body">
                            <h3 class="card-title">Shipping Details</h3>
                            <div class="form-group">
                                <div class="form-check"><span class="form-check-input input-check"><span
                                            class="input-check__body"><input class="input-check__input" type="checkbox"
                                                id="checkout-different-address"> <span class="input-check__box"></span>
                                            <svg class="input-check__icon" width="9px" height="7px">
                                                <use xlink:href="images/sprite.svg#check-9x7"></use>
                                            </svg> </span></span><label class="form-check-label"
                                        for="checkout-different-address">Ship to a different address?</label></div>
                            </div>
                            <div class="form-group"><label for="checkout-comment">Order notes <span
                                        class="text-muted">(Optional)</span></label> <textarea id="checkout-comment"
                                    class="form-control" rows="4"></textarea></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>