.editor-tag {
    cursor: text;
    font-size: 16px;
    padding: 10px 0px 10px 10px;
    border-radius: 2px;
    background: white;
    border: 1px #ced4da  solid;
  
    & .tag-item {
      padding: 0.1rem 0.4rem;
    margin-right: 0.5rem;
    background: #ffd333;
    color: #3d464d;
    border-radius: 3px;
    line-height: 20px;
    display: inline-block;
      .remove-tag {
        margin-left: 0.5rem;
        cursor: pointer;
      }
    }
  
    // & .tag-item:not(:first-child) {
    //   margin-left: 5px;
    // }
  
    & input {
      margin: 0;
      padding-left: 5px;
      border: none;
      outline: none;
      border-radius: 5px;
    }
  }