<div class="site__body">
    <app-breadcrumb [pageTitle]="'Create Prodcut'"></app-breadcrumb>
    <div class="checkout block">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-7">
                    <div class="card mb-lg-0">
                        <div class="card-body">
                            <h3 class="card-title">Prodcut Details</h3>
                            <form [formGroup]="productForm" (ngSubmit)="onSubmitProduct()">
                            <div class="form-group">
                                <label for="checkout-company-name">Title</label> 
                                <input type="text" class="form-control" id="checkout-company-name" placeholder="Company Name">
                            </div>
                            <div class="form-group"><label for="checkout-country">Country</label> <select
                                    id="checkout-country" class="form-control">
                                    <option>Select a country...</option>
                                    <option>United States</option>
                                    <option>Russia</option>
                                    <option>Italy</option>
                                    <option>France</option>
                                    <option>Ukraine</option>
                                    <option>Germany</option>
                                    <option>Australia</option>
                                </select>
                            </div>
                            <div class="form-group"><label for="checkout-country">Statte</label> <select
                                id="checkout-country" class="form-control">
                                <option>Select a country...</option>
                                <option>United States</option>
                                <option>Russia</option>
                                <option>Italy</option>
                                <option>France</option>
                                <option>Ukraine</option>
                                <option>Germany</option>
                                <option>Australia</option>
                            </select>
                        </div>
                            <div class="form-group">
                                <label for="checkout-street-address">Set A Price</label> 
                                <input type="text" class="form-control"
                                    placeholder="Price">
                            </div>

                            <div class="form-group">
                                <label for="checkout-street-address">Contact Number</label> 
                                <input type="text" class="form-control"
                                    placeholder="Price">
                            </div>
                            <div class="form-group">
                                <label for="checkout-comment">Description </label>
                                <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
                        </div>
                            <button type="submit" class="btn btn-primary mt-4">Create Product</button>
                        </form>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>