.pointer {cursor: pointer;}
.yellow {color: #ffd333}

.toaster {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.show-toaster {
    display: initial;
}
.hide-toaster {
    display: none;
}
.invaild-editor{
    display: block;
    width: 100%;
    margin-top: .25rem;
    font-size: 80%;
    color: #dc3545;
}